#streamlit library
streamlit
streamlit-aggrid
streamlit-option-menu
streamlit-pandas-profiling

#developers library
pycaret
pandas
ydata_profiling
matplotlib
numpy
plotly
scipy
scikit-learn
mkdocs-material
